<section id="about-me" class="about-me">
  <div class="container">
    <div class="aboutme-container">
      <h2 class="visually-hidden">About Me</h2>
      <div class="aboutme-text-container aboutme-width-container">
        <h3 class="aboutme-textcontainer-header">I work with people all over the world to create impressive and <span class="aboutme-functional">functional</span> <span class="aboutme-websites">websites</span> that reflect each client's unique personality.</h3>
      </div>
      <div class="aboutme-image-container aboutme-width-container">
        <picture>
          <source media="(min-width: 768px)" width="704" height="700" srcset="./img/about_me/man_tab_1x-min.jpg 1x, ./img/about_me/man_tab_2x-min.jpg 2x">
          <source media="(max-width: 767px)" width="343" height="500" srcset="./img/about_me/man_mobile_1x-min.jpg 1x, ./img/about_me/man_mobile_2x-min.jpg 2x">
          <source media="(min-width: 1440px)" width="680" height="700" srcset="./img/about_me/man_desktop_1x-min.jpg 1x, ./img/about_me/man_desktop_2x-min.jpg 2x">
          <img class="aboutme-image"  src="./img/about_me/man_desktop_1x-min.jpg" alt="man">
        </picture>
    </div>
    </div>

    <ul class="accordion-container">
      <li class="ac aboutme-ac js-enabled is-active">
        <h2 class="ac-header aboutme-ac-header">
          <button type="button" class="ac-trigger aboutme-ac-trigger">About me 
            <svg width="9px" height="4.5px" class="aboutme-accordeon-svg">
              <use href="./img/icons.svg#icon-accordeon_mobile_opened_svg-min"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel aboutme-ac-panel">
          <p class="ac-text aboutme-ac-text first-p-aboutme">
            I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages ​​and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.
          </p>
          <p class="ac-text aboutme-ac-text">
            Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work.I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.
          </p>
          
        </div>
      </li>
    
      <li class="ac aboutme-ac">
        <h2 class="ac-header aboutme-ac-header">
          <button type="button" class="ac-trigger aboutme-ac-trigger">ROLE 
            <svg width="9px" height="4.5px" class="aboutme-accordeon-svg">
              <use href="./img/icons.svg#icon-accordeon_svg_mobile-min"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel aboutme-ac-panel">
          <div class="ac-text aboutme-ac-text">
            <p>Frontend development</p>
            <p>HeadlessCMS,Wordpress</p>
            <p>Blender(enjoy)</p>
          </div>
        </div>
      </li>
    
      <li class="ac aboutme-ac">
        <h2 class="ac-header aboutme-ac-header">
          <button type="button" class="ac-trigger aboutme-ac-trigger">EDUCATION 
            <svg width="9px" height="4.5px" class="aboutme-accordeon-svg">
              <use href="./img/icons.svg#icon-accordeon_svg_mobile-min"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel aboutme-ac-panel">
          <div class="ac-text aboutme-ac-text">
            <p>2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</p>
            <p>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
            <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
          </div>
        </div>
      </li>
    </ul>

    <div class="about-swipe">
      <div class="swiper-container aboutme-swiper-container">
          <ul class="swiper-wrapper aboutme-swiper-wrapper">
            <li class="swiper-slide aboutme-swiper-slide">
                HTML/CSS
            </li>
            <li class="swiper-slide aboutme-swiper-slide">
                JavaScript
            </li>
            <li class="swiper-slide aboutme-swiper-slide">
                React
            </li>
            <li class="swiper-slide aboutme-swiper-slide">
                Node.js
            </li>
            <li class="swiper-slide aboutme-swiper-slide">
                React Native
            </li>
            <li class="swiper-slide aboutme-swiper-slide">
                Soft skills
            </li>
            <li class="swiper-slide aboutme-swiper-slide">              
              AI
            </li>
            <li class="swiper-slide aboutme-swiper-slide">
                GIT
            </li>
          </ul>
        
        <div class="swiper-button-next about-me-button">
          <svg width="21px" height ="16px" class="swiper-svg">
            <use href="./img/icons.svg#icon-Union"></use>
          </svg>
        </div>

     </div>
    </div>
  </div>
</section>
