<section id="covers" class="covers">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="marquee">
      <li class="marquee__inner">
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
      </li>

      <li class="marquee__inner">
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
      </li>

      <li class="marquee__inner">
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
      </li>

      <li class="marquee__inner">
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
      </li>

      <li class="marquee__inner">
        <img class="marquee__line" src="./img/covers/Rectangle 10.png" alt="" />
      </li>
    </ul>
  </div>
</section>
