<footer id="footer" class="footer">
  <div class="container">
    <div class="container-title-footer">
    <div class="container-img-footer">
      <img src="/src/img/image_footer.png"  alt="client photo" class="img-footer">
      <h2 class="title-footer">Let’s <span class="span-footer">work</span></br></h2>
    </div>
      <h2 class="title-footer">together</h2>
    </div>
      <form class="form-footer">
      <input type="text" class="input-mail" placeholder="clients@gmail.com">
      <input type="text" class="input-comments" placeholder="comments">
      <button type="submit" class="button-footer">Send</button>
    </form>
    <div class="container-contact-footer">
      <a href="" class="contact-footer contact-footer-mail">lloydjefferson@gmail.com</a>
      <a href="" class="contact-footer contact-footer-tel">+380 11 1111 11 11</a>
    </div>
    <div>
      <p class="modal-footer"></p>
    </div>
  </div>
</footer>
