<footer id="footer" class="footer hiddent-modal">
  <div class="container">
    <img src="/src/img/image_footer.jpg" alt="">
    <h2 class="title-footer">Let’s <span class="span-footer">work</span></br>together</h2>
    <form class="form-footer">
      <input type="text" class="input-mail" placeholder="clients@gmail.com">
      <input type="text" class="input-comments" placeholder="comments">
      <button type="submit" class="button-footer">Send</button>
    </form>
    <div class="contact-footer">
      <a href="">lloydjefferson@gmail.com</a>
      <a href="">+380 11 1111 11 11</a>
    </div>
    <div class="container-modal-footer">
      <p class="modal-footer-title">Thank you for your interest in cooperation!</p>
      <p class="modal-footer-text">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
    </div>
  </div>
</footer>
