<header id="header" class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <div class="header-navigation-container">
        <!-- Mobile -->
        <a href="./index.html" class="header-logo">
          <picture>
            <source
              media="(max-width: 767px)"
              width="80"
              height="80"
              srcset="
                ./img/header/mobile-1x.jpg 1x,
                ./img/header/mobile-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 767px) and (max-width: 1439px)"
              width="80"
              height="80"
              srcset="
                ./img/header/tablet-1x.jpg 1x,
                ./img/header/tablet-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1439px)"
              width="80"
              height="80"
              srcset="./img/header/desk-1x.jpg 1x, ./img/header/desk-2x.jpg 2x"
            />
            <img
              class="header-photo"
              src="./img/header/mobile-1x.jpg"
              alt="my-photo"
            />
          </picture>

          <svg class="header-jefferson" width="84" height="19">
            <use href="./img/icons.svg#icon-jefferson"></use>
          </svg>
        </a>
        <button type="button" class="header-button header-mob-button">
          <svg class="header-mobile-menu" width="28" height="28">
            <use href="./img/icons.svg#icon-menu"></use>
          </svg>
        </button>
        <!-- mobile end -->
        <!-- start tab+desk -->
        <div class="header-menu-div">
          <!-- <a class="header-menu">Menu</a> -->
          <button class="header-menu">Menu</button>
          <div class="tab-menu-hidden">
            <ul>
              <li class="tab-item-section">
                <a href="#about-me" class="mob-link">About me</a>
              </li>
              <li class="tab-item-section">
                <a href="#benefits" class="mob-link">Benefits</a>
              </li>
              <li class="tab-item-section">
                <a href="#projects" class="mob-link">Projects</a>
              </li>
              <li class="tab-item-section">
                <a href="#faq" class="mob-link">FAQ</a>
              </li>
            </ul>
          </div>
        </div>

        <a href="#footer" class="header-button header-tab-button">
          Order the project
        </a>
        <!-- end tab+desk -->
      </div>
    </nav>
  </div>
  <!-- Modal window -->
  <div class="mob-menu-backdrop">
    <button type="button" class="mob-close">
      <svg class="mob-icon-close" width="28" height="28">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="mob-nav">
      <nav>
        <ul class="mob-list">
          <li class="mob-item">
            <a href="#about-me" class="mob-link">About me</a>
          </li>
          <li class="mob-item">
            <a href="#benefits" class="mob-link">Benefits</a>
          </li>
          <li class="mob-item">
            <a href="#projects" class="mob-link">Projects</a>
          </li>
          <li class="mob-item">
            <a href="#faq" class="mob-link">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#footer" class="header-button header-modal-button">
      Order the project
    </a>
  </div>
</header>
