<section class="hero">
  <div class="container hero-container">
    <h1 class="hello-headline"> Hello.<br>I’m Fullstack developer Lloyd Jefferson.</h1>
<ul class="social-links-list">
  <li class="social-link-item"><a href="https://www.instagram.com/goitclub" class="social-link" target="_blank">
IG
  </a></li>
  <li class="social-link-item"><a href="https://www.youtube.com/c/Goit" class="social-link" target="_blank">
FB
  </a></li>
  <li class="social-link-item"><a href="https://www.facebook.com/goITclub" class="social-link" target="_blank">
YT
  </a></li>
  <li class="social-link-item"><a href="https://www.bahioiiia.github.io/portfolio-7/" class="social-link" target="_blank">
GH
  </a></li>
  <li class="social-link-item"><a href="lloydjefferson@gmail.com" class="social-link email" target="_blank">
lloydjefferson@gmail.com
      </a></li>
</ul>
  </div>
</section>
