<section class="projects">
  <div class="container">
    <h2>Projects</h2>

    <!-- -------------- -->
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide slide-part">
          <div class="top-part">
            <ul class="code-list">
              <li class="code-item">
                <p class="code-text">#react</p>
              </li>
              <li class="code-item">
                <p class="code-text">#js</p>
              </li>
              <li class="code-item">
                <p class="code-text">#node js</p>
              </li>
              <li class="code-item">
                <p class="code-text">#git</p>
              </li>
            </ul>
            <p class="main-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a href="./index.html" class="main-button-a" target="_blank"
              >See project</a
            >
          </div>
          <div class="img-block">
            <img src="./img/image-1-768-min.png" alt="1" class="prj-img" />
          </div>
        </div>
        <div class="swiper-slide slide-part">
          <div class="top-part">
            <ul class="code-list">
              <li class="code-item">
                <p class="code-text">#react</p>
              </li>
              <li class="code-item">
                <p class="code-text">#js</p>
              </li>
              <li class="code-item">
                <p class="code-text">#node js</p>
              </li>
              <li class="code-item">
                <p class="code-text">#git</p>
              </li>
            </ul>
            <p class="main-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a href="./index.html" class="main-button-a" target="_blank"
              >See project</a
            >
          </div>
          <div class="img-block">
            <img src="./img/image-2-768-min.png" alt="2" class="prj-img" />
          </div>
        </div>
        <div class="swiper-slide slide-part">
          <div class="top-part">
            <ul class="code-list">
              <li class="code-item">
                <p class="code-text">#react</p>
              </li>
              <li class="code-item">
                <p class="code-text">#js</p>
              </li>
              <li class="code-item">
                <p class="code-text">#node js</p>
              </li>
              <li class="code-item">
                <p class="code-text">#git</p>
              </li>
            </ul>
            <p class="main-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a href="./index.html" class="main-button-a" target="_blank"
              >See project</a
            >
          </div>
          <div class="img-block">
            <img src="./img/image-3-768-min.png" alt="3" class="prj-img" />
          </div>
        </div>
      </div>
      <div class="swiper-button-prev button-swiper">L</div>
      <div class="swiper-button-next button-swiper">R</div>
    </div>
  </div>
</section>
