<section id="projects" class="projects">
  <div class="container">
    <h2>Projects</h2>

    <!-- -------------- -->
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide slide-part slide-part-js">
          <div class="img-block">
            <img src="./img/image-1-768-min.png" alt="1" class="prj-img" />
          </div>
        </div>
        <div class="swiper-slide slide-part slide-part-js">
          <div class="img-block">
            <img src="./img/image-2-768-min.png" alt="2" class="prj-img" />
          </div>
        </div>
        <div class="swiper-slide slide-part slide-part-js">
          <div class="img-block">
            <img src="./img/image-3-768-min.png" alt="3" class="prj-img" />
          </div>
        </div>
      </div>
      <div class="swiper-button-prev button-swiper">
        <svg class="icon" width="52" height="52">
          <use href="./img/icons.svg#icon-arrow-right-min" />
        </svg>
      </div>
      <div class="swiper-button-next button-swiper">
        <svg class="icon" width="52" height="52">
          <use href="./img/icons.svg#icon-arrow-right-min" />
        </svg>
      </div>
    </div>
  </div>
</section>
