<section id="reviews" class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="review-swiper">
      <ul class="swiper-wrapper swiper-wrapper-js"></ul>

      <div class="swiper-button-prev button-swiper">
        <svg class="icon" width="32" height="32">
          <use href="./img/icons.svg#icon-arrow-right-min" />
        </svg>
      </div>

      <div class="swiper-button-next button-swiper">
        <svg class="icon" width="32" height="32">
          <use href="./img/icons.svg#icon-arrow-right-min" />
        </svg>
      </div>
    </div>
  </div>
</section>