<section class="reviews">
  <div class="container">
    <h2>Reviews</h2>

    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="frame-text">
          <h3 class="reviews-subtitle"> </h3>
          <p class="reviews-item-text">

          </p>
        </div>
      </li>
      <li class="reviews-item tablet">
        <div class="frame-text">
          <h3 class="reviews-subtitle"> </h3>
          <p class="reviews-item-text">

          </p>
        </div>
      </li>
      <li class="reviews-item tablet-desktop">
        <div class="frame-text">
          <h3 class="reviews-subtitle"> </h3>
          <p class="reviews-item-text">

          </p>
        </div>
      </li>
      <li class="reviews-item tablet-desktop">
        <div class="frame-text">
          <h3 class="reviews-subtitle"> </h3>
          <p class="reviews-item-text">

          </p>
        </div>
      </li>

    </ul>
  </div>


</section>