<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviewer</h2>

    <div class="reviews-swiper">
      <!-- Additional required wrapper -->

      <ul class="reviews-swiper-wrapper reviews-list">
        <li class="reviews-swiper-slide reviews-item">
          <div class="frame-text">
            <img class="reviews-picture" src=" " alt="Natalia" width="48" height="48" />
            <h3 class="reviews-subtitle">Natalia</h3>
            <p class="reviews-item-text">
              Work with was extraordinary! He turned out to be a very competent and responsible specialist. The
              projects were
              completed on time and the result exceeded my expectations
            </p>
          </div>
        </li>

        <li class="reviews-swiper-slide reviews-item tablet-desktop">
          <div class="frame-text">
            <img class="reviews-picture" src=" " alt="Reviewer 2" width="48" height="48" />
            <h3 class="reviews-subtitle"> </h3>
            <p class="reviews-item-text">

            </p>
          </div>
        </li>

        <li class="reviews-swiper-slide reviews-item tablet-desktop">
          <div class="frame-text">
            <img class="reviews-picture" src=" " alt="Reviewer 3" width="48" height="48" />
            <h3 class="reviews-subtitle"> </h3>
            <p class="reviews-item-text">

            </p>
          </div>
        </li>

        <li class="reviews-swiper-slide reviews-item tablet-desktop">
          <div class="frame-text">
            <img class="reviews-picture" src=" " alt="Reviewer 4" width="48" height="48" />
            <h3 class="reviews-subtitle"> </h3>
            <p class="reviews-item-text">

            </p>
          </div>
        </li>

      </ul>



      <div class="swiper-button-prev">L</div>
      <div class="swiper-button-next">R</div>
    </div>



  </div>
</section>