.aboutme-image{
    border-radius: 24px;
}

.aboutme-text-container{
padding-top: 32px;
padding-left: 32px;
padding-right: 32px;
border-radius: 24px;
width: 100%;
height: 500px;
background: #242527;
margin-bottom: 16px;
display: flex;
justify-content: center;
}
.aboutme-textcontainer-header{
    font-size: 19px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    width: 279px;
    height: 196px;
}

.aboutme-functional{
    color: #ed3b44;
}
.aboutme-websites{
    color: rgba(250, 250, 250, 0.4);
}
.aboutme-image{
    width: 100%;
}
.aboutme-container{
    margin-bottom: 32px;
}

.aboutme-ac-header {
    position: relative; 
}

.ac .ac-header .aboutme-ac-trigger {
    position: relative;
    padding-right: 30px; 
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.aboutme-accordeon-svg{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;;
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box; 
    background-size: 15px 15px; 
    background-repeat: no-repeat;
    background-position: center;
}

.aboutme-ac .aboutme-ac-header #trigger::after {
    content: "";
}

.accordion-container .aboutme-ac.is-active> .aboutme-ac-header #trigger::after{
    content: "";
}
.accordion-container .aboutme-ac{
    background: #1c1d20;
    border: none;
}
.accordion-container .ac .ac-panel .aboutme-ac-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}
.accordion-container .aboutme-ac .aboutme-ac-panel .first-p-aboutme{
   margin-bottom: 32px;
}
.accordion-container .ac .ac-panel .aboutme-ac-text li{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}
.aboutme-ac {
    position: relative; 
    margin-bottom: 40px;
}
    .aboutme-ac::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px; 
        bottom: -20px;
        background-color: rgba(250, 250, 250, 0.2); 
        position: absolute;
    }
.aboutme-ac .aboutme-ac-header .aboutme-ac-trigger::after{
    content:"";
}
.accordion-container .aboutme-ac.aboutme-ac.is-active>.aboutme-ac-header .aboutme-ac-trigger::after{
    content:"";
}
.aboutme-accordeon-svg{
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 9px;
    width: 36px;
    height: 36px;
}

    .aboutme-swiper-container{
        width: 100%;
        height: 100%;
        overflow: hidden; 
        position: relative;
    }
    .about-me-button{
        position: absolute;
        right: 10px;
        top: 50%;
        z-index: 10;
        display: block;
        background-color: transparent; 
        border: none; 
        position: relative; 
    }
    .aboutme-swiper-container .about-me-button::after{
        content: "";
        background-size: contain; 
        background-repeat: no-repeat; 
    }
    .aboutme-swiper-container .about-me-button .swiper-svg{
        fill: #3b3b3b;
        position: absolute; 
        width: 21px; 
        height: 16px;
        left: 30%;
    }
    .aboutme-swiper-slide p{
        border-radius: 100%; 
        border-width: 1px; 
        border-style: solid; 
        border-color: rgba(250, 250, 250, 0.2); 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        width: 130px;
        height: 130px;
        transition-delay: 0.02s;
    }
    .aboutme-button-1440 {
        position: absolute;
        top: 50%;
        right: 10px; 
        transform: translateY(-50%);
        z-index: 10;
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        align-items: center;
        display: none;
      }
      @media screen and (min-width:768px) {
        .aboutme-textcontainer-header{
            font-weight: 500;
            font-size: 38px;
            line-height: 1.05;
            width: 576px;
            height: 200px;
        }
        .aboutme-swiper-slide p{
            font-size: 20px;
            width: 200px;
            height: 200px;
        }
        .accordion-container .aboutme-ac .aboutme-ac-panel .first-p-aboutme{
            margin-bottom: 16px;
         }
         .aboutme-swiper-container .about-me-button .swiper-svg{
            width: 29px;
            height: 22px;
         }
      }
      @media screen and (min-width:1440px) {
        .aboutme-textcontainer-header{
            width: 552px;
            height: 200px;
        }
        .aboutme-button-1440{
            display: block;
        }     
        .aboutme-svg{
            stroke-width: 2px;
            stroke: #3b3b3b;
            fill: #3b3b3b;
        }
        .aboutme-container{
            display: flex;
            gap: 16px;
        }
        .aboutme-width-container {
            width: calc((100% - 16px) / 2);
            height: 700px;
        }
        
        .aboutme-ac-panel{
            display: flex;
            flex-direction: column;
            align-items: end;
            padding-right: 68px;
        }

        .accordion-container .aboutme-ac .aboutme-ac-text{
            width: 612px;
        }
        .aboutme-button-1440{
            right: -6px;
            display: flex;
        }
        .accordion-container .aboutme-ac .aboutme-ac-panel .first-p-aboutme{
            margin-bottom: 32px;
         }
    }

