.faq-title {
    color: rgba(250, 250, 250, 0.40);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}

.faq .faq-accordion-container {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq .faq-accordion-container .faq-item {
    background: #1c1d20;
    border: none;
    border-top: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    border-right: none;
    border-left: none;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
}

.faq .faq-accordion-container .faq-item .faq-subtitle .faq-trigger {
    position: relative;
    padding: 0;
    padding-right: 75px;
    font-family: "Inter Tight", sans-serif !important;
    color: #FAFAFA !important;
    font-style: normal !important;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.025em;
    align-items: flex-start;
}

.faq .faq-accordion-container .faq-item .faq-subtitle .faq-trigger::after {
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    right: 0;
    top: 40%;
}

.faq-svg {
    position: absolute;
    right: 13px;
    top: 40%;
    transform: translateY(-50%);
    box-sizing: border-box;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.faq .faq-accordion-container .faq-item .faq-trigger:hover {
    transition: color 0.3s ease;
}

.faq .faq-accordion-container .faq-item .faq-panel .faq-text {
    font-family: "Inter Tight", sans-serif;
    font-style: normal !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.60);
    padding: 0;
    margin-top: 16px;
}

/* Mobile version */
@media (max-width: 767px) {
}

/* Tablet version */
@media (min-width: 768px) {
    .faq .faq-accordion-container .faq-item {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

/* Desktop version */
@media (min-width: 1440px) {
    .faq .faq-accordion-container {
        display: flex;
    }

    .faq .faq-accordion-container .faq-item {
        /* flex-basis: calc((100% - 32px) / 2); */
        flex-basis: 50%;
    }

    .faq .faq-accordion-container .faq-item:nth-child(odd) {
        padding-right: 32px;
    }

    .faq .faq-accordion-container .faq-item:nth-child(even) {
        border-left: 1px solid rgba(250, 250, 250, 0.2);
        padding-left: 32px;
    }
}