
.footer .container{
  width: 100%;
  padding: 32px 8px;
  position: relative;
}

.container-title-footer{
  margin-bottom: 63px;
}

.container-img-footer{
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.img-footer{
  width: 44px;
  height: 44px;
  margin-right: 8px;
}

.title-footer{
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--wht);
}

.span-footer{
  color: var(--red);
}

.form-footer{
    display: flex;
    flex-direction: column;
  }
  
  .contact-footer{
    display: flex;
    flex-direction: column;
  }

  .input-email{
    margin-bottom: 16px;
  }

  .input-comments{
    margin-bottom: 36px;
  }

.input-email,
.input-comments{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
}

.button-footer{
  width: 100px;
  height: 100px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--wht);
  border-radius: 100%;
  border: none;
  background-color: var(--red);
  margin-bottom: 64px;
}

.contact-footer{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 37px;
  color: var(--wht);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
}

.container-contact-footer{
  display: flex;
  flex-direction: row;
}

.contact-footer-email{
  margin-right: 4px;
}


/* modal windows */
.container>.container-footer-modal.hidden{
  display: none;
}

.container>.container-footer-modal{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-windows-content{
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  background-color: #1C1D20;
}

.button-close{
  display: flex;
  position: absolute;
  right: 40px;
  top: 160px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: none;
  color: var(--wht);
  background-color: #1C1D20;
}

.modal-footer-title{
font-weight: 600;
font-size: 20px;
line-height: 150%;
letter-spacing: -0.02em;
text-align: center;
color: var(--wht);
margin-bottom: 16px;
}

.modal-footer-text{
  font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.02em;
text-align: center;
color: rgba(250, 250, 250, 0.6);
}


@media screen and (min-width: 768px){
  .footer .container{
    padding: 80px 32px;
  }

  .title-footer{
  font-size: 64px;
}

.container-img-footer{
  margin-bottom: 10px;
}

.form-footer{
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 78px;
}

.input-email,
.input-comments{
  width: 245px;
  height: 44px;
  margin-right: 32px;
}

.button-footer{
  margin: 0;
}

.contact-footer{
  font-size: 16px;
}

.contact-footer-email{
  width: 239px;
  height: 55px;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.contact-footer-tel{
  width: 171px;
  height: 55px;
  justify-content: center;
  align-items: center;
}


.modal-windows-content{
  width: 493px;
  height: 246px;
  padding: 64px;
}

.button-close{
  right: 180px;
  top: 210px;
}
}

@media screen and (min-width: 1440px){
  .footer .container{
    padding: 80px 196px;
  }

.input-email,
.input-comments{
    width: 390px;
    margin-bottom: 0;
}

.input-comments{
  margin-right: 86px;
}

.button-close{
  right: 520px;
  top: 210px;
}
}