.header {
  position: absolute;
  z-index: 50;
  background: none;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  /* padding-top: 20px; */
  padding-bottom: 0;
  /* width: 343px; */
  height: 80px;
  /* padding: 0; */
}

.header-photo {
  border-radius: 18px;
  width: 80px;
  height: 80px;
}

.header-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-logo {
  display: flex;
  gap: 8px;
}

.header-button {
  background: transparent;
  border: none;
  display: block;
  padding: 0;
}

.header-jefferson {
  fill: #fff;
}

.header-mobile-menu {
  stroke: #fbfbfb;
  fill: transparent;
  align-self: start;
}

.header-tab-button {
  display: none;
}

.header-menu-div {
  display: none;
}

.mob-menu-backdrop {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100%;
  background-image: url('../img/hero/glasseffect-mob1.png'),
    url('../img/hero/backpic-mob.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center, left;
  background-size: 100% 100%, 100% 100%;
  backdrop-filter: blur(10px);
  filter: contrast(1.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
  padding-top: 32px;
  transition: visibility 0s, opacity 1.0s ease;
}

.mob-close {
  border: none;
  display: block;
  background-color: transparent;
  margin-left: auto;
}

.mob-icon-close {
  stroke: #fbfbfb;
}

.mob-nav {
  margin: 0 auto;
}

.mob-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}

.header-modal-button {
  display: block;
  border-radius: 60px;
  padding: 18px 24px;
  width: 163px;
  height: 55px;
  background: #ed3b44;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin: 64px auto;
}

.header-modal-button:hover,
.header-modal-button:focus {
  background: #e0373f;
}

.mob-link:hover,
.mob-link:focus {
  text-decoration: underline;
  color: #ed3b44;
}


@media screen and (min-width: 768px) {
  .header-mob-button {
    display: none;
  }

  .header-container {
    /* width: 704px; */
    height: 80px;
  }

  .is-open {
    display: none;
  }

  .header-menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-tab-button {
    display: block;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background: #ed3b44;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    transition: background-color 150ms ease, transform 150ms ease,
      box-shadow 0.4s ease, border 0.4s ease;
  }

  .header-tab-button:hover,
  .header-tab-button:focus {
    background: #e0373f;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(250, 250, 250, 0.6);

  }

  .header-menu {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    padding: 10px;
    width: 60px;
    height: 39px;
    background: none;
    fill: transparent;
    border: none;
  }

  .header-menu:hover,
  .header-menu:focus {
    color: #ed3b44;
    transform: scale(1.05);
    /* box-shadow: 0 4px 12px rgba(250, 250, 250, 0.6); */
    /* cursor: pointer; */
  }

  .tab-menu-hidden {
    width: 80px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.25s linear, opacity 0.25s linear;
  }

  .tab-item-section {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .is-open-menu {
    max-height: 500px;
    opacity: 1;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    /* width: 1376px; */
    height: 80px;
  }
}