.hero {
    color: var(--wht);
}

.hero-container {
  }

  .hero-container {
    width: 100%;
    background-image: url('../img/glasseffect-mob1.png'), url('../img/backpic-mob.png'); /* Фоновое изображение */
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    backdrop-filter: blur(10px);
 }


.hello-headline {
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
padding-top: 188px;
margin: 0 auto;
}

.social-links-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
flex-wrap: nowrap;
gap: 3px;
padding-top: 188px;

}

.social-links-list .social-link-item:not(:last-child) {
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
padding: 10px 12px;
width: 37px;
height: 37px;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
display: flex;
justify-content: center;
align-items: center;
}

.email {
    border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
padding: 10px;
width: 37px;
height: 37px;
font-weight: 500;
font-size: 14px;
letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
    .hero-container {
        width: 100%;
        background-image: url('../img/glasseffect-tab1.png'), url('../img/backpic-tab.png');
          background-color: #0b0a0a;
        background-repeat: no-repeat, no-repeat;
        background-position: calc(100% - 200px), center;
        background-size: 728px auto, cover;
        backdrop-filter: blur(10px);
        
        /* display: flex;
        flex-direction: column;  */
    }
    /* calc(100% - 189px), */
     .hello-headline {
        font-weight: 500;
        font-size: 90px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        /* padding: 188px 104px 188px 32px; */
    /* width: 632px; */
    
    }
    .social-links-list .social-link-item:not(:last-child) {
        font-size: 16px;
        padding: 18px 16px;
width: 55px;
height: 55px;
    }

    .email {
        font-size: 16px;
        padding: 18px 24px;
width: 223px;
height: 55px;
    }

}

@media screen and (min-width: 1440px) {
 .hero-container {
        max-width: 100%;
        background-image: url('../img/glasseffect-desk.png'), url('../img/backpic-desktop.png'); /* Фоновое изображение */
        background-repeat: no-repeat, no-repeat;
        background-position: left, center;
        background-size: 50% 100%, cover;
        backdrop-filter: blur(10px);
        margin: 0;
     }

     .social-links-list .social-link-item:not(:last-child) {
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 60px;
padding: 18px 16px;
width: 55px;
height: 55px;
font-size: 16px;
  }

  .social-links-list {
gap: 8px;
padding-right: 32px;
}

.hello-headline {
padding-left: 178px;
padding-right: 178px;

font-size: 90px;
text-transform: uppercase;
/* width: auto; */
margin: 0 auto;
}

}