/* Reset styles */
:root {
  --wht: #FAFAFA;
  --blk1: #1C1D20;
  --blk2: #242527;
  --grey: #1C1D20;
  --red: #ED3B44;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


h1, h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* ======COMMON-STYLES======= */
body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  color: var(--wht);
  background-color: var(--blk1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.container {
  padding: 20px 2px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 375px;
    padding: 32px 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 48px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 82px 32px;
  }
}