.container .reviews-container {
    margin: 0;
}

.review-swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.buttons {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 84px;
}

.review-card {
    padding: 32px 24px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    max-width: 344px;
    min-height: 302px;
    transition: box-shadow 0.4s ease;
}

.review-card:hover {
    box-shadow: 0 4px 12px rgba(250, 250, 250, 0.6);
cursor: pointer;
}

.review-img {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
}

.review-name {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--wht);
}

.review-text {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

.review-swiper .swiper-button-next,
.review-swiper .swiper-button-prev {
    position: absolute;
    top: 352px;
    background-color: var(--blk2);
    color: var(--wht);
    border: 1px solid var(--wht);
    border-radius: 60px;
    width: 52px;
    height: 52px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.review-swiper .swiper-button-next {
    left: 50%;
    transform: translate(20%);
    transition: box-shadow 0.4s ease;
}

.review-swiper .swiper-button-next:hover {
    box-shadow: 0 4px 12px rgba(250, 250, 250, 0.6)
}

.review-swiper .swiper-button-prev {
    left: 50%;
    transform: translate(-120%) rotate(180deg);
    transition: box-shadow 0.4s ease;
}

.review-swiper .swiper-button-prev:hover {
    box-shadow: 0 4px 12px rgba(250, 250, 250, 0.6)
}

.review-swiper .swiper-button-next::after,
.review-swiper .swiper-button-prev::after {
    content: "";
    color: var(--wht);
}

.icon {
    width: 100%;
    height: 100%;
    stroke: var(--wht);
}

/* ---------768 */
@media screen and (min-width: 768px) {

    .buttons {
        height: 120px;
    }

    .review-swiper .swiper-button-next,
    .review-swiper .swiper-button-prev {
        top: 372px;
        width: 68px;
        height: 68px;
        padding: 18px;
    }

    .review-swiper .swiper-button-next {
        left: 50%;
        transform: translate(20%);
    }

    .review-swiper .swiper-button-prev {
        left: 50%;
        transform: translate(-120%) rotate(180deg);
    }
}

@media screen and (min-width: 1440px) {
    .review-card {
        max-width: 332px;
    }

    .review-text {
        width: 284px;
    }

    .review-swiper .swiper-button-next,
    .review-swiper .swiper-button-prev {
        top: 372px;
        width: 68px;
        height: 68px;
        padding: 18px;
    }

    .review-swiper .swiper-button-next {
        left: 50%;
        transform: translate(20%);
        transition: box-shadow 0.4s ease;
    }

    .review-swiper .swiper-button-prev {
        left: 50%;
        transform: translate(-120%) rotate(180deg);
        transition: box-shadow 0.4s ease;
    }
}